<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo1.png" alt="Bootstrap" width="40" height="40">
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="" id="nav">Home</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="bookticket" id="nav">Book Ticket</a>
          </li> -->
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="nav" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" id="nav">
            <li><a class="dropdown-item" routerLink="bookticket">Book Ticket</a></li>
            <li><a class="dropdown-item" routerLink="premiumtrains">Premium Trains</a></li>
            <li><a class="dropdown-item" routerLink="touristtrains">Special Tourist Trains</a></li>
            <li><a class="dropdown-item" routerLink="journey">Plan a Journey</a></li>
          </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signup" id="nav">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="contactus"  id="nav">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <!-- <img src="/assets/images/logo2e.png" alt="Bootstrap" width="40" height="40" style="margin-right:10px ;"> -->
          <input class="form-control me-2" type="search" placeholder="Type Something" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit" id="nav">Search</button>
          
          
          
        </form>
        <!-- Button trigger modal -->
</div>
    </div>
  </nav>