<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/assets/images/logo1.png" alt="Bootstrap" width="40" height="40">
        
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="" id="nav">Home</a>
          </li>
          
          <!-- <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="bookticket" id="nav">Book Ticket</a>
          </li> -->
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="nav" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Services
          </a>
          <ul class="dropdown-menu" id="nav">
            <li><a class="dropdown-item" routerLink="bookticket">Book Ticket</a></li>
            <li><a class="dropdown-item" routerLink="premiumtrains">Premium Trains</a></li>
            <li><a class="dropdown-item" routerLink="touristtrains">Special Tourist Trains</a></li>
            <li><a class="dropdown-item" routerLink="journey">Plan a Journey</a></li>
          </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="signup" id="nav">Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " routerLink="contactus"  id="nav">Contact Us</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
            <!-- <img src="/assets/images/logo2e.png" alt="Bootstrap" width="40" height="40" style="margin-right:10px ;"> -->
          <input class="form-control me-2" type="search" placeholder="Type Something" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit" id="nav">Search</button>
          
          
        </form>
        <!-- Button trigger modal -->
<button type="button" class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="margin-left: 10px;" id="nav">
  Login
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel" id="wel">Welcome Back !!!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <form>
              <!-- Email input -->
              <div class="form-outline mb-4">
                <input type="email" id="form2Example1" class="form-control" />
                <label class="form-label" for="form2Example1">Email address</label>
              </div>
            
              <!-- Password input -->
              <div class="form-outline mb-4">
                <input type="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
              </div>
            
              <!-- 2 column grid layout for inline styling -->
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  <!-- Checkbox -->
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                  </div>
                </div>
            
                <div class="col">
                  <!-- Simple link -->
                  <a href="#!">Forgot password?</a>
                </div>
              </div>
            
            
              
            </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-outline-primary">Login</button>
      </div>
    </div>
  </div>
</div>
</div>
    </div>
  </nav>