<h1 style="text-align: center;
margin-top: 15px;
font-family: 'Michroma', sans-serif;
color: purple;">GALLERY</h1>
<span class="placeholder col-12 bg-danger"></span>
<h4 style="text-align: center;
margin-top: 15px;
text-decoration: underline;
font-family: 'Chakra Petch', sans-serif;
color: rgb(245, 224, 206);">DISEL LOCOMOTIVES</h4>
<div class="container text-center">
  <div class="row">
    <div class="col col-lg-4" *ngFor="let item of gallery">
      <div class="card" style="width: 18rem; margin-top: 20px; margin-left: 60px; border: 5px solid rgb(245, 224, 206);">
          <img src="{{item.img}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-family: 'Zilla Slab', serif;">{{item.name}}</h5>
          </div>
        </div>
      </div>
  </div>
</div>
<span class="placeholder col-12 bg-info"></span>
<h4 style="text-align: center;
margin-top: 15px;
text-decoration: underline;
font-family: 'Chakra Petch', sans-serif;
color: rgb(245, 224, 206);">ELECTRIC LOCOMOTIVES</h4>
<div class="container text-center">
  <div class="row">
    <div class="col col-lg-4" *ngFor="let item of gallery1">
      <div class="card" style="width: 18rem; margin-top: 20px; margin-left: 60px; border: 5px solid rgb(245, 224, 206);">
          <img src="{{item.img1}}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title" style="font-family: 'Merriweather', serif;">{{item.name1}}</h5>
          </div>
        </div>
      </div>
  </div>
</div>
<span class="placeholder col-12 bg-info"></span>
<h4 style="text-align: center;
margin-top: 15px;
text-decoration: underline;
font-family: 'Chakra Petch', sans-serif;
color: rgb(245, 224, 206);">THE RAIL NETWORK- A Glimpse</h4>
<!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="/assets/images/t2.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/assets/images/t1.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/assets/images/t67.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/assets/images/t27.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/assets/images/t50.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/assets/images/t29.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/assets/images/t36.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/assets/images/t49.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/assets/images/t6.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/assets/images/t5.jpeg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="/assets/images/t64.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />

    <img
      src="/assets/images/t18.jpg"
      class="w-100 shadow-1-strong rounded mb-4"
      alt=""
    />
  </div>
</div>
<!-- Gallery -->
<span class="placeholder col-12 bg-info"></span>
