<div class="container text-center">
    <div class="row">
      <div class="col col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
            <img src="/assets/images/t86.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Maharaja's Express</h5>
              <p class="card-text">Welcome aboard the Maharajas' Express, bestowed the "World's Leading Luxury Train" award at the World Travel Awards for seven consecutive years from 2012 to 2018. The Maharajas' Express has redefined the luxury travel experience by offering guests the opportunity to explore fabled destinations providing a glimpse of rich cultural heritage of Incredible India which will leave you with fond memories of this train journey to be cherished.</p>
              <a href="https://www.the-maharajas.com/" class="btn btn-outline-success">Explore More</a>
            </div>
          </div>
      </div>
      <div class="col col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
            <img src="/assets/images/t85.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bharat Gaurav Trains</h5>
              <p class="card-text">The first train to be operated between Coimbatore and Shirdi by a private operator, under the "Bharat Gaurav" scheme of the Indian Railways, was flagged off on Tuesday.

                With this, the Southern Railway became the first zone in Indian Railways to get the first registered service provider under the "Bharat Gaurav" scheme, the Ministry of Railways said, adding that 1,100 passengers boarded the maiden roundtrip service from Coimbatore to Shirdi.</p>
              <a href="https://bharatgauravtrains.indianrailways.gov.in/" class="btn btn-outline-success">Explore More</a>
            </div>
          </div>
      </div>
      <div class="col col-lg-4">
        <div class="card" style="width: 18rem; margin-top: 20px;">
            <img src="/assets/images/t87.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">IR Private Trains</h5>
              <p class="card-text">In a first, a train was operated by a private person between Coimbatore and Shirdi under the Indian Railways' 'Bharat Gaurav' scheme on Tuesday.

                The train would depart from Coimbatore North station at 6 PM on Tuesdays and will arrive at Shirdi's Sai Nagar at 7.25 AM on Thursday. After a one-day break, the train will resume its journey from Sai Nagar on Friday and arrive in Coimbatore North at 12 noon on Saturday.
                
                Before arriving in Shirdi, the train will stop at Tirupur</p>
              <a href="https://www.railmitra.com/blog/private-train-in-india-all-that-you-need-to-know" class="btn btn-outline-success">Explore More</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  