<div id="booking" class="section" >
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Plan your <br>Journey</h1>
                        <p>Check the Train availability
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form>
                            <select class="form-select my-4">
                                <option selected ><span>FROM STATION</span></option>
                                <option  *ngFor="let s of station"><div class="code"><span class="code1">{{s.code}}</span></div> &nbsp;  {{s.name}}</option>
                            </select>
                        <select class="form-select my-4">
                                <option selected ><span>TO STATION</span></option>
                                <option  *ngFor="let s of station"><div class="code"><span class="code1">{{s.code}}</span></div> &nbsp;  {{s.name}}</option>
                            </select>
                            <div class="input-group mb-3" style="width: 40px;">
                                <select class="custom-select" id="inputGroupSelect02">
                                  <option selected>Select Quota</option>
                                  <option value="1">General</option>
                                  <option value="2">Ladies</option>
                                  <option value="3">Lower Berth/SR.Citizen</option>
                                  <option value="4">Tatkal</option>
                                  <option value="5">Premium Tatkal</option>
                                </select>
                              </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Date of Journey</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-btn">
                                <button class="btn btn-outline-danger" routerLink="/trainlist">Find Trains</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
