<div id="booking" class="section">
    <div class="section-center">
        <div class="container">
            <div class="row">
                <div class="col-md-7 col-md-push-5">
                    <div class="booking-cta">
                        <h1>Reserve Your <br>Seat</h1>
                        <p>Check the Ticket availability
                        </p>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7">
                    <div class="booking-form">
                        <form>
                            <div class="form-group">
                                <span class="form-label">From</span>
                                <input class="form-control" type="text" placeholder="Enter Station Name or Station Code">
                            </div>
                            <div class="form-group">
                                <span class="form-label">To</span>
                                <input class="form-control" type="text" placeholder="Enter Station Name or Station Code">
                            </div>
                            <div class="input-group mb-3" style="width: 40px;">
                                <select class="custom-select" id="inputGroupSelect02">
                                  <option selected>Select Class</option>
                                  <option value="1">First AC</option>
                                  <option value="2">AC Two Tier</option>
                                  <option value="3">AC Three Tier</option>
                                  <option value="4">AC Three Tier Economy</option>
                                  <option value="5">Sleeper</option>
                                  <option value="6">Second Sitting</option>
                                  <option value="7">Divyangjan</option>
                                </select>
                              </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <span class="form-label">Date of Journey</span>
                                        <input class="form-control" type="date" required>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-btn">
                                <button class="btn btn-outline-danger">Find Trains</button>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>